%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[{lager,
  [{error_logger_format_raw, true},
   {handlers,
    [{lager_console_backend,
      [info,
       {lager_default_formatter,
        [time, " ", color, "[", severity, "] ", pid, " ", module, "#", line, " ", message, "\e[0m\r\n"]}
      ]},
     {lager_file_backend,
      [{file, "log/debug.log"},
       {level, debug},
       {count, 1000},
       {formatter_config,
        [date, " ", time, " [", severity, "] ", pid, " ", module, "#", line, " ", message, "\n"]}
      ]},
     {lager_file_backend,
      [{file, "log/info.log"},
       {level, info},
       {formatter_config,
        [date, " ", time, " [", severity, "] ", pid, " ", module, "#", line, " ", message, "\n"]}
      ]},
     {lager_file_backend,
      [{file, "log/error.log"},
       {level, error},
       {formatter_config,
        [date, " ", time, " [", severity, "] ", pid, " ", module, "#", line, " ", message, "\n"]}
      ]}
    ]},
   {colored, true},
   {colors,
    [{debug,     "\e[0;38m"},
     {info,      "\e[0;32m"},
     {warning,   "\e[0;33m"},
     {error,     "\e[0;31m"}
    ]}
  ]}
].

